.tag {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #8EB391;
    margin-bottom: 18px;
}

.title {
    font-size: 38px;
    font-weight: 400;
    line-height: 51px;
    margin-bottom: 30px;
    text-align: left;
    color: white;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: white;
}

.link {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: white;
}

.link:hover {
    color: #02291C;
}
