.header__zIndex {
    z-index: 100
}

.glyphiconMenuHamburger {
    font-size: 5px;
}

@media (min-width: 320px) {
    .visible {
        display: flex;
    }
}

@media (min-width: 768px) {
    .visible {
        display: none;
    }
}

.class1 {
    color: white;
}

.class2 {
    color: #02291C;
}
