@media (min-width: 320px) {
    .list {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .list {
        justify-content: space-between;
    }
}

.item {
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.background {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(90deg, rgba(220,227,221,1) 0%, rgba(73,117,87, 1) 100%);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s ease-in;
}

.background:hover {
    opacity: 0.5;
}

.sectionTitle {
    color: #02291C;
    font-weight: 400;
}

@media (min-width: 320px) {
    .sectionTitle {
        font-size: 30px;
        line-height: 45px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .sectionTitle {
        font-size: 38px;
        line-height: 51px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}




.title {
    color: white;
    font-size: 16px;
}

.subtitle {
    color: white;
}

.item:hover {
    opacity: 1;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 100%;
}